
<div class="header header-fixed">
<div class="container"><div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
  <!--begin::Header Menu-->
  <div id="kt_header_menu" class="header-menu header-menu-left header-menu-mobile header-menu-layout-default">
    <!--begin::Header Nav-->
    <ul class="menu-nav" id="headmenu">
      <li class="menu-item menu-item-active" aria-haspopup="true">
        <a href="/keen/demo3/index.html" class="menu-link">
          <span class="menu-text">Dashboard</span>
        </a>
      </li>
     
      <li class="menu-item" aria-haspopup="true">
        <a href="/keen/demo3/builder.html" class="menu-link">
          <span class="menu-text">Builder</span>
          <span class="menu-desc"></span>
        </a>
      </li>
      <li  class="menu-item " style="right:0;position:absolute;margin-top: 15px;" >
        <a href="javascript:void(0)" class="menu-link">
          <span class="menu-text">Login</span>
          <span class="menu-desc"></span>
        </a>
      </li>  
   
    </ul>
    
    <!--end::Header Nav-->
  </div>
  <!--end::Header Menu-->
 
</div>
</div>
</div>
<div class="subheader bg-white h-100px">
<div class="container flex-wrap flex-sm-nowrap">
<div class="subheader-nav nav flex-grow-1">
  <!--begin::Item-->
  <a href="#" class="nav-item">
     <span class="nav-label px-10">
    
      <span class="nav-title text-dark-75 font-weight-bold font-size-h4">หน่วยบริการ</span>
      <span class="nav-desc text-muted">Profile &amp; Data</span>
    </span>
  </a>
  <!--end::Item-->
  <!--begin::Item-->
  <a href="#" class="nav-item active">
    <span class="nav-label px-10">
      <a [routerLink]="['/bar']" > <span class="nav-title text-dark-75 font-weight-bold font-size-h4">Chart</span></a>
      <span class="nav-desc text-muted">Build Chart</span>
    </span>
  </a>
  <!--end::Item-->
  <!--begin::Item-->
  <a href="#" class="nav-item">
    <span class="nav-label px-10">
      <a [routerLink]="['/datachart']" > <span class="nav-title text-dark-75 font-weight-bold font-size-h4">DataChart</span></a>
      <span class="nav-desc text-muted">xls &amp; json</span>
    </span>
  </a>
  <!--end::Item-->
  <!--begin::Item-->
  <a href="#" class="nav-item">
    <span class="nav-label px-10">
      <span class="nav-title text-dark-75 font-weight-bold font-size-h4">Transfers</span>
      <span class="nav-desc text-muted">Transactions History</span>
    </span>
  </a>
  <!--end::Item-->
  <!--begin::Item-->
  <a href="#" class="nav-item">
    <span class="nav-label px-10">
      <span class="nav-title text-dark-75 font-weight-bold font-size-h4">Statements</span>
      <span class="nav-desc text-muted">Dashboard &amp; Reports</span>
    </span>
  </a>
  <!--end::Item-->
</div></div>
</div>
<div class="container">
  <h1>Install Bootstrap 5 in Angular 12 - ItSolutionStuff.com</h1>
  <div class="row">
<div class="col-xl-6 col-xxl-4">
  
  <div class="card">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<fa-icon [icon]="filmIcon"></fa-icon>