#results {
    margin: 30px 0;
    min-height: 100px;
    background-color: #000;
    color: #9ff;
    padding: 15px;
    font-size: 80%;
    font-family: monospace;
  }
  
  #data-input {
    width: 100%;
    min-height: 100px;
    margin-bottom: 15px;
    font-size: 80%;
  }